:root {
  --background: #f4f4f6;
  --black: #1a1a1a;
  --white: #ffffff;
  --error: #f4441d;
  --font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  --title: 32px;
  --text: 16px;
}

@function colors($key) {
  @return map-get($colors, $key);
}

.container {
  background-color: var(--background);
  color: var(--black);
  height: 100vh;
  padding: 32px;
}

.header {
  font-family: var(--font-family);
  font-size: var(--title);
  font-weight: bold;
  padding: 16px;
  text-align: center;
}

.title {
  font-size: var(--title);
  font-weight: bold;
}

.text {
  font-size: var(--text);
}

.checkbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: var(--font-family);
  font-size: var(--text);
  gap: 8px;
}

.child_checkbox {
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.graph {
  background-color: var(--white);
  margin: auto;
  padding: 32px;
}
